{% extends "store_app/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
        <h1>{{ product.name }}</h1>
        <p>Категория: {{ product.category.name }}</p>
        <p>Описание: {{product.description}}</p>
        <p>Цена: {{product.price}}</p>
        <hr>
        <h2>Теги</h2>
        <ul class="list-group">
            {% for tag in tags %}
                 <li class="list-group-item">
                     <h3> {{ tag.product.name }}</h3>
                     <p> {{ tag.name }}</p>
                 </li>
            {% empty %}
                <li class="list-group-item">Нет тегов</li>

            {% endfor %}
        </ul>

        <hr>
        <h2>Коментарии</h2>
        <ul class="list-group">
            {% for сomment in comments %}
                 <li class="list-group-item">
                     <h3> {{ сomment.author.name }}</h3>
                     <p> {{ сomment.text }}</p>
                 </li>
            {% empty %}
                <li class="list-group-item">Нет коментариев</li>

             {% endfor %}
        </ul>
{% endblock %}