{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}


<div class="container mt-5">
        <h1 class="text-center text-primary">Каталог ГООООООЛ</h1>
        <div class="row mt-4">
            {% for bear in bears %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">

                        <p class="card-text"><strong>Имя:</strong> {{bear.name}}</p>
                        <p class="card-text"><strong>Возраст:</strong> {{bear.age}}</p>



                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>







{% endblock %}


